body {
  font-family: 'sans-serif';
  font-size: 14px;
} 

.logo {
  float: left;
}

.topnav {
  width: 600px;
  padding-top: 10px;
  padding-left: 150px;
}
.topnav ul {
  
}
.topnav ul li {
  min-width: 100px;
  float: left;
  list-style: none;
}

div#content {
  clear: both;
}
div#content {
  clear: both;
}